@import '~bootstrap/scss/bootstrap';

body {
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  align-self: center;
  height: 300px;
  width: 400px;
  margin: 10px;
}

.btn {
  margin: 10px;
}

.make-prediction {
  display: none;
}

.results {
  display: none;
}

.make-prediction {
  margin: 10px;
}

.color-container {
  align-self: center;
  display: none;
}

.color-box {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  margin: 20px;
}
